<section data-ng-controller="HomeController">

</br>  
</br>
</br>
</br>  
</br>
</br>
</br>  
</br>
</br>
</br>  
</br>
</br>


<div class = "row-fluid" style="height: 305px">
    <carousel interval="5000">
      <slide ng-repeat="slide in slides" active="slide.active">
        <img ng-src="{{slide.image}}" style="margin:auto;">
        <div class="carousel-caption">
          <p>{{slide.text}}</p>
        </div>
      </slide>
    </carousel>
</div>

<img src="/modules/core/img/poster.jpg"></img>

<div class="col-lg-12 text-center">	
	<a href="/#!/verify"><strong>Verification</strong></a>
</div>

</section>