<section data-ng-controller="HomeController">

</br>  
<div style="height: 800px ">
    <carousel interval= "myInterval">
      <slide ng-repeat="slide in slides" active="slide.active">
        <img ng-src="{{slide.image}}" style="margin: auto；">
        <div class="carousel-caption">
          <h4>{{slide.text}}</h4>
        </div>
      </slide>
    </carousel>
</div>
<!--<img src="/modules/core/img/poster.jpg"></img>-->

<div class="col-lg-12 text-center">	
	<a href="/#!/verify"><strong><button type="button" class="btn btn-lg btn-success">Verification</button></strong></a>
</div>

</section>